@charset "utf-8";
/*
Template Name: PhotoTeam
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
File: Forms CSS
*/

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:13px; font-family:Georgia, "Times New Roman", Times, serif;}

/* ----------------------------------------------Search Form------------------------------------- */

#search{float:right; margin-bottom:40px;}
#search input{display:block; float:left; width:190px; height:20px; margin:0; padding:5px 5px 5px 10px; color:#C7CED6; background:url("images/search_l.gif") 0 0 no-repeat #666666; border:none;}
#search input#go{width:35px; height:30px; margin:0; padding:0; cursor:pointer; background:none;}

/* ----------------------------------------------Forms in Content Area------------------------------------- */

#container #respond{display:block; width:100%;}
#container #respond input{width:170px; padding:2px; border:1px solid #CCCCCC; margin:5px 5px 0 0;}
#container #respond textarea{width:98%; border:1px solid #CCCCCC; padding:2px; overflow:auto;}
#container #respond p{margin:5px 0;}
#container #respond #submit, #container #respond #reset{margin:0; padding:5px; color:#666666; background-color:#F7F7F7; border:1px solid #CCCCCC; cursor:pointer;}

/* ----------------------------------------------Newsletter------------------------------------- */

#footer legend{display:block; margin-bottom:15px;}
#footer input#newsletter{display:block; float:left; width:220px; height:20px; margin:0; padding:5px 10px; color:#737373; background:url("images/newsletter_form.gif") 0 0 no-repeat #333333; border:none;}
#footer input#subscribe{width:100px; height:30px; float:left; margin:0 0 0 8px; padding:0; cursor:pointer;}