@charset "utf-8";
/*
Template Name: PhotoTeam
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
File: Gallery CSS
*/

#gallery{display:block; width:960px; margin:0 auto 20px; padding:20px 0;}
#gallery ul{margin:0; padding:0; list-style:none;}
#gallery li{display:block; float:left; width:225px; margin:0 20px 20px 0; padding:0;}
#gallery li a img{display:block; width:215px; height:120px; margin:0; padding:0; border:5px solid #444444;}
#gallery li a:hover img{border-color:#B4B4B4;}
#gallery li.last{margin-right:0;}