@charset "utf-8";
/*
Template Name: PhotoTeam
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
File: Portfolio CSS
*/

#portfolio{display:block; width:100%; padding:20px 0; line-height:1.6em;}
#portfolio ul{margin:0; padding:0; list-style:none;}
#portfolio li{display:block; width:100%; margin:0 0 40px 0; padding:0 0 40px 0; border-bottom:1px solid #444444;}
#portfolio li.last{padding:0; border-bottom:none;}
#portfolio .readmore{display:block; text-align:right;}
#portfolio .fl_left{display:block; float:left; width:630px; /* Same width as the 2 column content area */}
#portfolio .fl_left a img{width:620px; height:230px; border:5px solid #444444;}
#portfolio .fl_left a:hover img{border-color:#B4B4B4;}
#portfolio .fl_right{display:block; float:right; width:300px; /* Same width as the 2 column right column */}