<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Aplicaciones Distribuidas</title>

    <!-- Bootstrap core CSS -->
    <link href="resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="resources/css/business-casual.min.css" rel="stylesheet"/>

  </head>

  <body>	
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">PROYECTO FINAL</span>
      <span class="site-heading-lower">APLICACIONES DISTRIBUIDAS</span>
    </h1>
        
          <div class="intro-text left-0 text-center bg-faded p-4 rounded">
<h:form>

 <h:outputLabel value="Usuario" />
		<h:inputText value="#{usuarioBean.usuario}" id="txtusuario" style="border: 2px solid black;
  border-radius: 4px; padding: 2px 50px; background-color: #ece2c6; color: black"/>
		<h:message for="txtusuario"/>
		
		<h:outputLabel value="Contraseña" />
		<h:inputSecret value="#{usuarioBean.clave}" id="txtclave" style="border: 2px solid black;
  		border-radius: 4px; padding: 2px 50px; background-color: #ece2c6; color: black"/>
		<h:message for="txtclave"/>
	
		
		<br/><h:commandButton value="Ingresar" action="#{usuarioBean.login()}" style="background-color: #c5a751; 
		  display: inline-block;
		  padding: 15px 10px;
		  font-size: 15px;
		  cursor: pointer;
		  text-align: center;
		  text-decoration: none;
		  outline: none;
		  color: black;
		  background-color: #c5a751;
		  border: none;
		  border-radius: 15px;" />
 
</h:form> 
	    </div>
    
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          
          
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="resources/img/intro.jpg" alt=""/>
          
        </div>
      </div>
    </section>
  
        <div class="intro-text left-0 text-center bg-faded p-4 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Realizado por:</span>
              <span class="section-heading-lower">Andres Andrade</span>
              <span class="section-heading-lower">Andres Tello</span>
            </h2>
          </div>
    

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright APPDIS 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="resource/vendor/jquery/jquery.min.js"></script>
    <script src="resource/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
