<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Ingrediente</title>

    <!-- Bootstrap core CSS -->
    <link href="resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="resources/css/business-casual.min.css" rel="stylesheet"/>
</h:head> 
<body> 
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">MENU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index2.xhtml">Home</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="ListaClientes.xhtml">Listar Clientes
                
                <span class="sr-only">(current)</span>
              </a>
                       
            </li>
            
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="Cliente.xhtml">Crear Clientes
                
                <span class="sr-only">(current)</span>
              </a>
            </li>
            
            
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="ListaPlatos.xhtml">Listar Platos</a>
            </li>
            
            
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="Plato.xhtml">Crear Platos</a>
            </li>
            
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="ListaBebidas.xhtml">Listar Bebidas</a>
            </li>
            
            
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="Bebida.xhtml">Crear Bebidas</a>
            </li>
       
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="ListaIngredientes.xhtml">Listar Ingredientes</a>
            </li>
      
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="Ingrediente.xhtml">Crear Ingredientes</a>
            </li>
           </ul>
        </div>
      </div>
    </nav>

<section class="page-section cta">
<p><i><font face="times, serif" size="10">
INGREDIENTE
</font></i></p>
	<center>
	<h:form>
	<h:panelGrid columns =  "3">
	<h:outputLabel value="CODIGO" />
	<h:inputText value="#{ingredienteBean.newIngrediente.cod}" /> <br />
	<h:outputLabel value="NOMBRE" />
	<h:inputText value="#{ingredienteBean.newIngrediente.nombre}" /> <br />
	<h:outputLabel value="CANTIDAD" />
	<h:inputText value="#{ingredienteBean.newIngrediente.cantidad}" /> <br />
	<h:outputLabel value="PORCION" />
	<h:inputText value="#{ingredienteBean.newIngrediente.porcion}" /> <br />
	<h:commandButton action="#{ingredienteBean.agregarIngrediente()}" value="ACEPTAR" />
	</h:panelGrid>
	<h:inputHidden value="#{ingredienteBean.editar}" />
	<h:inputHidden value="#{ingredienteBean.newIngrediente.cod}" /> <br />
	</h:form>
	</center>
</section>
</body> 
</html>