<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>

<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Lista Stock</title>

    <!-- Bootstrap core CSS -->
    <link href="resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="resources/css/business-casual.min.css" rel="stylesheet"/>

</h:head> 
<body> 

<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.xhtml">Home</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="ListaClientes.xhtml">Clientes
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="ListaPlatos.xhtml">Platos</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="ListaBebidas.xhtml">Bebidas</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="ListaStock.xhtml">Stock</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<section class="page-section cta">
<center>
	<h:form>
	 <h:dataTable var="_stock" value="#{stockBean.stocks}">
     <h:column>
     	<f:facet name="header">CODIGO</f:facet>
     	#{_stock.codigo}
     </h:column>   
      <h:column>        	<f:facet name="header">----- </f:facet>  </h:column>
     <h:column>
     	<f:facet name="header">NOMBRE</f:facet>
     	#{_stock.producto}
     </h:column>     
      <h:column>        	<f:facet name="header">----- </f:facet>  </h:column>
     <h:column>
     <f:facet name="header">CANTIDAD</f:facet>
     	#{_stock.cantidad}
     </h:column>  
      <h:column>        	<f:facet name="header">----- </f:facet>  </h:column>
     <h:column>
     	<f:facet name="header">STOCK MINIMO</f:facet>
     	#{_stock.stockMinimo}
     </h:column>
      <h:column>        	<f:facet name="header">----- </f:facet>  </h:column>
      <h:column>
                <f:facet name="header">ACCIONES</f:facet>
                <h:commandButton action="#{stockBean.eliminarStock(_stock.codigo)}" value="ELIMINAR" />
                <h:commandButton action="#{stockBean.editar(_stock)}" value="EDITAR" />
            </h:column>
     </h:dataTable>
     <h:commandButton action="#{stockBean.pgPrincipal()}" value="AGREGAR PRODUCTOS" />
	</h:form>
	</center>
	</section>
</body> 
</html>
